---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    
    <title>Home | MailX Redesign</title>
    <meta name="description" content="Redesign of the MailXpertise homepage with Astro and Tailwind." />
    <meta name="author" content="Jessica Arroyo Lebrón" />
    <meta name="robots" content="index, follow" />

  </head>
	<body class="bg-background">
		<div class="max-w-[1280px] mx-auto bg-white">
		<slot />
	</div>
	</body>
</html>
