---
import Navbar from '@/components/navbar/Navbar.astro';
import Footer from '@/components/footer/Footer.astro';
import BackToTop from '@/components/common/BackToTop.astro';
import '@/styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>MailX Redesign</title>
    <meta
      name="description"
      content="MailXpertise: Tailor-made email and SMS marketing platform with integrated reporting, segmentation and automation."
    />

    <link rel="canonical" href="https://loremipsum.com/" />

    <meta name="author" content="Jessica Arroyo Lebrón" />
    <meta name="theme-color" content="#0f3065" />
    <meta name="robots" content="index, follow" />


  </head>
  <body class="flex flex-col min-h-screen">
    <a
      href="#main-content"
      class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 bg-white text-black px-2 py-1 rounded shadow"
    >
    Skip to content
    </a>

    <header>
      <Navbar />
    </header>

    <main id="main-content" class="flex-1">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <BackToTop />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
